
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<h1>Welcome to the Success Page</h1>
<h1>@ViewBag.messages</h1>
<h1>@ViewData["message"]</h1>
<h1>@TempData["Data"]</h1>
<h1>@Session["SessionData"]</h1>