@model MVCFirst.Models.StudentModel
@{
    ViewBag.Title = "StudentDetails";
}

<h2>StudentDetails</h2>

<h1>Student id is:@Model.Id</h1>
<h1>Student name is:@Model.Name</h1>
<h1>Student address is:@Model.Address</h1>